<div class="container">
						
    <!--About Sec-->
    <section class="about-sec mt-180 mt-sm-120  mb-30">
      <div class="row">
        <div class="col-lg-12">
          <div class="mdl-card mdl-shadow--2dp">
            <div class="row">
              <div class="col-md-5 col-xs-12 mb-30">
                <div class="candidate-img mb-35" style="text-align: center;">
                    <img class="CV-img" src="../../assets/avatar.jpg">
                </div>
                <div class="social icon" style="text-align: center; padding-top: 30px">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="fab fa-facebook-square"  href="https://www.facebook.com/xnhoc"></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="fab fa-linkedin"  href="https://www.linkedin.com/in/long-hoang-7a3455122/"></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="fab fa-twitter"  href="#"></a>
                        </li>
                        <li class="list-inline-item">
                                <a class="fas fa-envelope"  href="mailto:hdl.uit@gmail.com"></a>
                        </li>
                    </ul>
                </div>
              </div>
              <div class="col-md-7 col-xs-12">
                <div class="info-wrap">
                  <h1 style="font-weight: bold">HOANG DINH LONG</h1>
                  <h5 class="mt-20 font-grey" style="font-family: 'Raleway',sans-serif; font-size: 17px; font-weight: 700; line-height: 0px; margin: 0 0 24px; text-transform: uppercase">Software Engineer</h5>
                  <div class="mt-30">
                    <a id="download_cv" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white mr-10" href="#" data-upgraded=",MaterialButton,MaterialRipple">download cv<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-blue font-white" href="#contact_sec" data-scroll="" data-upgraded=",MaterialButton,MaterialRipple">contact<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                  </div>
                </div>
                <ul class="profile-wrap mt-50">
                  <li>
                    <div class="profile-title">Age</div>
                    <div class="profile-desc">24</div>
                  </li>
                  <li>
                    <div class="profile-title">Address</div>
                    <div class="profile-desc">
                      Ho Chi Minh City
                    </div>
                  </li>
                  <li>
                    <div class="profile-title">email</div>
                    <div class="profile-desc">
                      hdl.uit@gmail.com
                    </div>
                  </li>
                  <li>
                    <div class="profile-title">phone</div>
                    <div class="profile-desc">
                      +84 966 84 74 27
                    </div>
                  </li>
                  <li>
                    <div class="profile-title">Web Developer</div>
                    <div class="profile-desc relative">Looking for new challenges & opportunities </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>	
      </div>
    </section>
    <!--/About Sec-->	
    </div>	