.sec-pad-top-sm {
    padding-top: 40px;
}
.mdl-card {
    width: auto;
    min-height: inherit;
    position: static;
    overflow: visible;
    display: block;
    padding: 45px 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
}
h2 {
    font-size: 24px;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.skills-sec .progress-cat {
    padding-bottom: 11px;
    display: block;
    font-size: 14px;
}
.skills-sec .progress-bar-graph .bar-wrap {
    position: relative;
    float: left;
    width: 100%;
    background: #bababa;
}
.skills-sec .progress-bar-graph .bar-wrap.blue-bar span {
    background: #03a6ff;
}
.skills-sec .progress-bar-graph .bar-wrap.green-bar span {
    background: #e3632d;
}
.skills-sec .progress-bar-graph .bar-wrap.yellow-bar span {
    background: #56A902;
}
.skills-sec .progress-bar-graph span {
    height: 5px;
    width: 0px;
    display: block;
    float: left;
    position: relative;
    overflow: visible !important;
}