/* You can add global styles to this file, and also import other style files */
.mdl-layout__header .mdl-layout__drawer-button{
    color:#444;
}
/* .mdl-layout__drawer {
	display:block;
	color: inherit;
	background: #2b2b2b none repeat scroll 0 0;
    border-right: medium none;
} */
.drawer-profile-wrap {
    overflow:hidden;
    background:#272727;
}
.mdl-layout__obfuscator.is-visible {
    opacity: 0;
}
.mdl-layout__drawer .social-icons {
    text-align: center;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.list-inline-item{
    padding-top: 20px;
    font-size: 35px;
    color: #444;
}
.mdl-layout__drawer.is-visible{
    position: fixed;
}
.mdl-button--icon{
    color: black
}